---
title: Sci Fi TRPG Database
---
<!doctype html>
<html>

    <head>
        {% include head-common.html %}
        <link rel="stylesheet" href="style.css">
    </head>

    <body>
        <header>
            <h1>Database</h1>
            <button class="styled" id="theme-toggle" aria-pressed="false" onclick="toggleTheme()" title="Toggle Theme">
                <span class="sun">☀️</span><span class="moon">🌑</span>
            </button>
        </header>
        <section class="spaced">
            <h2>Star Map</h2>
            <img loading="lazy" src="images/sci-fi-map.svg" title="Star Map" alt="A diagram showing the planets, satellites and points of interest in the Kappa Ceti, Anteros and Samsa systems. The map also shows mapped hyper lanes between the systems." >
        </section>
        <section class="spaced">
            <h2>Kappa Ceti System</h2>
            <p>Home to nearly 5 billion people, KCIII (Cylon) was established early in the golden age of space travel.
                Bulk haulers crowd into the dozen stations in orbit, sending the bounty of the system&#39;s asteroid
                belt down the space elevators to fuel the sprawling metropolis below. Vast regions of the planet are
                owned by mega wealthy individuals, forcing the majority of the population into the overpopulated capital
                city of New Shenzhen. Many of these people dream of saving enough for a ticket on a jumpliner to the
                Anteros system, where they say the asteroids are riddled with gold.</p>
            <p>Out on the edge of the system sits a quarantine zone, no one is certain what lies at its centre: a top
                secret military base, the home world of a sentient alien species, or a corporate research and
                development facility are all popular theories. Whichever it is, someone with deep pockets is paying for
                a fleet of Troubleshooters to keep people away from it.</p>
        </section>
        <section class="spaced">
            <h2>Anteros System</h2>
            <p>The hyperlane that connects Anteros to Kappa Ceti was discovered over 500 years ago, but before large
                scale colonisation could kick off the bit rot virus struck, destroying humanity&#39;s knowledge of
                hyperspace travel. 12 years ago explorers found a hyperlane map unleashing a gold rush to the Antoros
                System.</p>
            <p>The largest colony is on Mani, some 5,000 people on a tide locked ocean world. Other notable colonies
                include the Adoni crater habitation zone and the solarian mission on Afrit, the moon of Mani. </p>
            <p>In the system&#39;s meteor belt a bevy of small mining operations and other outposts have cropped up. The
                mining potential of the system&#39;s asteroid belt is said to be so high that Greenstar towed an entire
                station through hyperspace to exploit it, though there are rumours that the station may be under new
                management.</p>
        </section>
        <section class="spaced">
            <h2>Samsa System</h2>
            <p>Samsa is the frontier proper. Out here the ones who make the law are the ones with the biggest guns and
                quickest draws. Since the system was re-discoverd it seems that every washed up old astronaut in the rim
                has a story about the time they went on a run to Samsa: Some tell of the desert moon of Karth, and its
                orbital defenses left over from the first golden age of space travel. Others whisper about a a ship
                graveyard, floating around a dead planet at the very far edge of the system. Whether these tales are
                true or not, there&#39;s more unclaimed real estate to be explored and exploited in Samsa than just
                about anywhere else right now.</p>
        </section>
        {% include footer.html %}
    </body>

</html>