@font-face {
    font-family: "departure";
    src: url("/assets/fonts/DepartureMono-Regular.woff2");
}


:root,
:root.light {
    --main-bg-color: #fff;
    --main-text-color: #222;
    --secondary-bg-color: #c0c0c0;
}


@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #222;
        --main-text-color: #ffa133;
        --secondary-bg-color: #c0c0c0;
    }
}


:root.dark {
    --main-bg-color: #222;
    --main-text-color: #ffa133;
    --secondary-bg-color: #c0c0c0;
}

:root.dark span.moon {
    display: none;
}

:root.light span.sun {
    display: none;
}


button.styled {
    font-size: 1.5rem;
}

header {
    display: flex;
    justify-content: space-between;
}

header button {
    align-self: center;
    margin-left: 1rem;

    @media (max-width: 572px) {
        align-self: flex-start;
    }
}

body {
    font-family: "departure";
    background: var(--main-bg-color);
    color: var(--main-text-color);
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

    @media (max-width: 1150px) {
        margin-left: 1rem;
        margin-right: 1rem;
    }

}

strong {
    text-decoration: underline;
}

.two-column-grid {
    display: grid;
    grid: auto-flow / 1fr 1fr;
    gap: 2rem;

    @media (max-width: 800px) {
        grid: auto-flow / 1fr;
        gap: 0rem;
    }
}

.two-column-grid table {
    @media (max-width: 800px) {
        margin-bottom: 2rem;
    }
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img.in-grid {
    width: 100%;
    height: 100%;
    max-width: 400px;
    justify-self: center;
    object-fit: contain;
}

.spaced {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

p {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.spacer {
    height: 2rem;
}

table {
    border-collapse: collapse;
}

thead {
    border-bottom: 2px solid var(--main-text-color);
}

th {
    border-left: 2px solid var(--main-text-color);
    border-right: 2px solid var(--main-text-color);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    text-align: left;
}

td {
    border-left: 2px solid var(--main-text-color);
    border-right: 2px solid var(--main-text-color);
    padding: 0.75rem;
    text-align: left;
}

td {
    border-bottom: 1px dashed var(--main-text-color);
}

tr:last-of-type td {
    border-bottom: none;
}

a {
    color: inherit;
}

li {
    margin-bottom: 1rem;
}