@font-face {
    font-family: "departure";
    src: url("/assets/fonts/DepartureMono-Regular.woff2");
}


:root,
:root.light {
    --main-bg-color: #fff;
    --main-text-color: #222;
    --secondary-bg-color: #c0c0c0;
    --secondary-text-color: #222;
    --stamp-color: #6c6c58;
}


@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #222;
        --main-text-color: #ffa133;
        --secondary-bg-color: #c0c0c0;
        --secondary-text-color: #222;
        --stamp-color: #6c6c58;
    }
}


:root.dark {
    --main-bg-color: #222;
    --main-text-color: #ffa133;
    --secondary-bg-color: #c0c0c0;
    --secondary-text-color: #222;
    --stamp-color: #6c6c58;
}

:root.dark span.moon {
    display: none;
}

:root.light span.sun {
    display: none;
}


button.styled {
    font-size: 1.5rem;
}

header div.page-title {
    display: flex;
    justify-content: space-between;
}

header div.page-title button {
    align-self: center;
    margin-left: 1rem;

    @media (max-width: 572px) {
        align-self: flex-start;
    }
}

header div.page-nav a {
    margin-right: 2rem;
}

header div.page-nav a:last-of-type {
    margin-right: initial;
}

header div.page-nav a.active::before {
    content: '> ';
}

body {
    font-family: "departure";
    background: var(--main-bg-color);
    color: var(--main-text-color);
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;

    @media (max-width: 1150px) {
        margin-left: 1rem;
        margin-right: 1rem;
    }

}

strong {
    text-decoration: underline;
}

.two-column-grid {
    display: grid;
    grid: auto-flow / 1fr 1fr;
    gap: 2rem;

    @media (max-width: 800px) {
        grid: auto-flow / 1fr;
        gap: 0rem;
    }
}

.two-column-grid table {
    @media (max-width: 800px) {
        margin-bottom: 2rem;
    }
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img.in-grid {
    width: 100%;
    height: 100%;
    max-width: 400px;
    justify-self: center;
    object-fit: contain;
}

.spaced {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

p {
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
}

.spacer {
    height: 2rem;
}

table {
    border-collapse: collapse;
}

thead {
    border-bottom: 2px solid var(--main-text-color);
}

th {
    border-left: 2px solid var(--main-text-color);
    border-right: 2px solid var(--main-text-color);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    text-align: left;
}

td {
    border-left: 2px solid var(--main-text-color);
    border-right: 2px solid var(--main-text-color);
    padding: 0.75rem;
    text-align: left;
}

td {
    border-bottom: 1px dashed var(--main-text-color);
}

tr:last-of-type td {
    border-bottom: none;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: underline dotted;
}

li {
    margin-bottom: 1rem;
}

span.tag {
    border: 1px dashed var(--main-text-color);
    padding: 0.25rem;
    border-radius: 5%;
    font-size: 0.75rem;
}

:root.dark ol span.tag {
    border-color: var(--secondary-text-color);
}

ol.post-list {
    list-style-type: none;
    padding-left: 0;
}

ol.post-list li {
    background-color: var(--secondary-bg-color);
    padding: 0.5rem;
}

ol.post-list li > p {
    margin-top: 0.5rem;
}

div.post-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.post-title h2 {
    margin-bottom: 0.5rem;
}

p.page-tags {
    margin-top: 0rem;
}

ol.post-list div.post-title span {
    font-size: 0.75rem;
    color: var(--stamp-color);
}

:root.dark ol.post-list li {
    color: var(--secondary-text-color);
}

header {
    margin-bottom: 2rem;
}

header a {
    text-decoration: none;
}

blockquote {
    margin: 0;
    padding: 0rem 1rem;
    border: 2px dashed var(--stamp-color);
}
