@font-face {
    font-family: "departure";
    src: url("/assets/fonts/DepartureMono-Regular.woff2");
}

html,
body {
    height: 293mm;
    width: 206mm;
    padding: 2mm;
    font-size: 12px;
}

html {
    border: 1px solid black;
}

:root {
    --main-text-color: #000;
    --secondary-text-color: #6c6c58;
}

body {
    font-family: "departure";
    padding: 0px;
    margin: 0px;
}


.two-column-grid {
    display: grid;
    grid: auto-flow / 1fr 1fr;
    gap: 0.5rem;


}


table {
    border-collapse: collapse;
}

thead {
    border-bottom: 2px solid var(--main-text-color);
}

th {
    border-left: 2px solid var(--main-text-color);
    border-right: 2px solid var(--main-text-color);
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    text-align: left;
}

td {
    border-left: 2px solid var(--main-text-color);
    border-right: 2px solid var(--main-text-color);
    padding: 0.75rem;
    text-align: left;
}

td {
    border-bottom: 1px dashed var(--main-text-color);
}

tr:last-of-type td {
    border-bottom: none;
}

.card {
    border: 1px solid var(--main-text-color);
    padding: 0.5rem;
}

.card h3 {
    margin-top: 0.4rem;
    margin-bottom: 0.1rem;
}
.card p {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}

.card h2 {
    margin-top: 0.1rem;
}

.card .two-column-grid {
    margin-bottom: 0.7rem;
}

.card table {
    height: 80px;
}

h1, h2 {
    margin-bottom: 0.1rem;
    margin-top: 0.1rem;
}